* {
    border: 0;
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse
}

html, body {
    height: 100%;
}

body {
    background-color: #131318;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: right;
}
header h1 {
    font-size: 1.4em;
    color: #aab;
    padding: .5em;
}
header strong {
    background-color: #721099;
    color: #fff;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 1em 1.5em;
}
header strong svg {
    width: 20px;
}

canvas {
    cursor: crosshair;
    border-bottom: 4px solid #1f1f27;
    border-top: 4px solid #1f1f27;
}

form {
    align-items: center;
    display: flex;
    column-gap: 2em;
    justify-content: space-evenly;
    padding: 2em 1em;
}
form span {
    background-color: #0b0b0e;
    border: 4px solid #1f1f27;
    border-radius: 1em;
    color: #556;
    display: inline-block;
    flex: none;
    font-weight: bold;
    padding: 1em 0;
    text-align: center;
    width: 10em;
}

.btn {
    border-width: 1px;
    border-style: solid;
    border-radius: 1em;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 1em 1.5em;
    width: 100%;
}
.btn.buy {
    background-color: #508850;
    border-color: #66b366;
}
.btn.buy:not(:disabled) {
    animation: ping-buy 2s ease-in-out infinite;
}
@keyframes ping-buy {
    70%, 80% {
        border-color: #7bff00;
        box-shadow: 0 0 .8em #66b366;
    }
}
.btn.buy:hover {
    background-color: #66b366;
    border-color: #7bff00;
}
.btn.sell {
    background-color: #bd4343;
    border-color: #eb3a3a;
}
.btn.sell:not(:disabled) {
    animation: ping-sell 2s ease-in-out infinite;
}
@keyframes ping-sell {
    40%, 50% {
        border-color: #ff746f;
        box-shadow: 0 0 .8em #eb3a3a;
    }
}
.btn.sell:hover {
    background-color: #eb3a3a;
    border-color: #ff746f;

}
.btn.buy:disabled, .btn.buy:disabled:hover,
.btn.sell:disabled, .btn.sell:disabled:hover {
    background-color: #494a50;
    border-color: #595a61;
    box-shadow: inset .5em .5em 1em #383941;
    color: #9496a0;
}

#orders {
    background-color: #131318;
    color: #eee;
    font-size: .8em;
    height: 150px;
    bottom: 200px;
    overflow-y: scroll;
    padding: 1em;
}
#orders table {
    width: 100%;
}
#orders h2 {
    margin-bottom: 1em;
}
#orders thead th, #orders tbody td {
    padding: .5em 1em;
}
#orders tbody tr:nth-child(odd) {
    background-color: #1b1b22;
}